@charset "utf-8";

/*
    This was an educational project carried out by the HTML & CSS course and the only goal 
    here is to demonstrate my ability to use HTML & CSS.
    
    !!!! You are NOT ALLOWED (in any way) to copy or reproduce this code. !!!!
    
    Author: Claudinei Junior
    Filename: apartment_layout.css
*/

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */

header h1 {
    color: #31669C;
    margin: 5px;
}

header {
    text-align: center;
    width: auto;
    padding: 5px 0px 5px 12px;
}

header p {
    font-size: 0.85em;
    margin: 5px;
}

/* Body */

body {
    margin: 0px 10px;
}


/* Nav */

body nav {
    position: sticky;
    top: 0px;
    text-align: center;
    width: auto;
    padding: 0px 0px 10px 0px;
}
    
body nav::after{
    clear: both;
    content: "";
    display: table;
}

body nav li, body nav p{
    display: inline;
    font-size: 0.75em;
}
        
body nav a {
    color: #31669C;
    text-decoration: underline;
}

body nav a.leftBorder {
    border-left: 1px solid black;
    padding: 0px 5px;
}

footer {
    text-align: center;
    font-size: 0.85em;
}